<link rel="stylesheet" href="/css/flashMessage.css">
<% if (error && error.length > 0) { %>
<div class="alert alert-danger alert-dismissible fade show mx-auto col-11 col-sm-8 col-md-6 col-lg-4 flash" role="alert">

    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
